---
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <PageBanner title="About" />

  <Section>
    <div class="container">
      <!-- <SectionTitle title="About Us" /> -->

      <div class="statue" style="padding-bottom: 4rem;">
        <img src="/images/statue.JPG" alt="" >
      </div>
      <SectionTitle
        title="DAYANANDA ARYA VIDYA PUBLIC SCHOOL"
        classes="text-center"
        subtitle="The School is based on the towering principles and philosophy of the noble son of India, Maharshi Dayananda Saraswati.The Trust also oversees a Gurukula (A Residential Vedic Education and Cultural Academy).We at DAV Public School aim at nurturing the future generation with universal Vedic values, and distinct Indian cultural ethos who will be global citizen."
        substyle="margin:0 auto; "
      />
    </div>
  </Section>

  <Section>
    <div class="container">
      <div class="numbers">
        <div class="box">
          <div class="green boxes">
            
            <img src="/images/student-(1).png" alt="students">

             <h4>
              <span
                  class="heading clr-oge purecounter"
                  data-purecounter-start="0"
                  data-purecounter-end="500">0</span
                >
                <span class="clr-ble">+</span><br> 
             </h4>
             <p> Students </p>
            
          </div>
        </div>
        <div class="box top">
          <div class="blue boxes">
            <img src="/images/Teachers.png" alt="">

            <h4>
              <span
                  class="heading clr-oge purecounter"
                  data-purecounter-start="0"
                  data-purecounter-end="60">0</span
                >
                <span class="clr-ble">+</span> <br>  
             </h4>
             <p>Certified Teachers </p>
          </div>
        </div>
        <div class="box top">
          <div class="orange boxes">
            <img src="/images/award-(1).png" alt="">
            <h4>
              <span
              class="heading clr-oge purecounter"
              data-purecounter-start="0"
              data-purecounter-end="50">0</span
            >
            <span class="clr-ble">+</span><br>  
             </h4>
             <p>Awards</p>
          </div>
        </div>
        <div class="box">
          <div class="red boxes">
            <img src="/images/Students-enrolled.png" alt="">

            <h4>
              <span
                  class="heading clr-oge purecounter"
                  data-purecounter-start="0"
                  data-purecounter-end="1000">0</span
                >
                <span class="clr-ble">+</span> <br>   
             </h4>
             <p>Students Enrolled
            </p>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <Section style="background-color:aliceblue;">
    <div class="container">
      <SectionTitle
        title="Our Vision"
        classes="text-center"
        subtitle="To develop and motivate the child to learn and experience success in a conducive environment retaining Indian values."
        substyle="margin:0 auto;"
      />

      <Section >
        <SectionTitle title="Our Belives" classes="text-center" />

       <div class="belives">
        <p class="sub-title pb-4">The School belives</p>

        <ul>
          <li>
            <span>&#10148;</span>  In the knowledge and wisdom of our ancient seers and sages and also
            the knowledge provided by modern scholars
          </li>
          <li>
           <span>&#10148;</span>  In encouraging every student to develop positive attitude and skills
            to achieve success
          </li>
          <li>
           <span>&#10148;</span>  In developing students into role-models exhibiting discipline,
            dignity, decorum and exemplary behavior
          </li>
          <li>
           <span>&#10148;</span>  In bringing out a balanced and integrated personality in every
            student reflecting the richness and glory of the ethos and values of
            our cultural heritage
          </li>
        </ul>
       </div>
      </Section>
      <Section >
        <SectionTitle title="Educational Objectives" classes="text-center" />

       <div class="belives">
       

        <ul>
          <li>
           <span>&#10148;</span>To Impart holistic modern education on the lines of CBSE (Central Board of Secondary Education), New Delhi.
          </li>
          <li>
           <span>&#10148;</span>To provide intellectual nourishment and to nurture the aptitudes of students to bring out their full potential.
          </li>
          <li>
            <span>&#10148;</span> To equip students with necessary skills and to inculcate in them, the national ideals
               and Universal/ International outlook.
          </li>
          <li>
           <span>&#10148;</span>  To provide the students with a sure and strong base for a bright and meaningful
            career.
          </li>
          <li>
           <span>&#10148;</span>  To bring self discipline, Value system; and to galvanize students’ energy for creative Purposes.
          </li>
          <li>
           <span>&#10148;</span>  Admission to the school is open for all boys and girls irrespective of their caste, creed,
            religion, language, community, province or region. However, admission of students to each class is strictly
            based on merit & availability of seats. The school adheres to the first-come-first-serve principle.
          </li>
        </ul>
       </div>
      </Section>
    </div>
  </Section>

  <Section>
  <div class="container">
    <SectionTitle title="Dav Governing Coucil Members" classes="text-center"/>
    <div class="members">
        <div class="member-card">
            <div class="images">
              <img src="/images/img/Smt.-Sadhana-V.-Jawali-1-e1674980827238.png" alt="Smt. Sadhana V. Jawali 1">
            </div>
            <div>
                <h5>Smt. Sadhana Jawali
                  </h5>
                <p>  Chairperson</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/Sri-Sandeep-Agarwal.png" alt="Sri Sandeep Agarwal">
            </div>
            <div>
                <h5>Sri. Sandeep Agarwal
                    
                  </h5>
                <p>  Vice-Chairperson</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/Sri-Satyavrata.png" alt="Sri Satyavrata">
            </div>
            <div>
                <h5>Sri Satyavrata
                  </h5>
                <p>  Secretary</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/Sri-S-R-Balaji.png" alt="Sri S R Balaji">
            </div>
            <div>
                <h5>Sri SR Balaji
                  </h5>
                <p>Joint Secretary</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              
              <img src="/images/img/Sri-Subhash-Chandra-Goyal.png" alt="Sri Subhash Chandra Goyal">
            </div>
            <div>
                <h5>Sri Subhasha Chandra Goyal
                  </h5>
                <p> Member</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/Dr.-R-R-Varma.png" alt="Dr. R R Varma">
            </div>
            <div>
                <h5>Dr. Radha Kishan Verma
                  </h5>
                <p>Ex-Chairperson & Member</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/ramesh.png" alt="Sri Ramesh P Yelameli">
            </div>
            <div>
                <h5>Sri Ramesh P Yelameli
                  </h5>
                <p>Member</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/shradha.png" alt="Governing Council">
            </div>
            <div>
                <h5>Dr Shraddha S
                  </h5>
                <p>  Member
                </p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/sidh.png" alt="WebP to PNG Converted">
            </div>
            <div>
                <h5>Dr Siddhartha A Bhargava
                  </h5>
                <p>Member</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
                <img src="/images/arya.webp" alt="">
            </div>
            <div>
                <h5>Sri Pradyumna Arya
                  </h5>
                <p> Member</p>
            </div>
        </div>
        <div class="member-card">
            <div class="images">
              <img src="/images/img/sanjay.png" alt="WhatsApp Image 2023-01-27 at 3.17.01">
            </div>
            <div>
                <h5>Sri Sanjay Kumar
                  </h5>
                <p>  Member</p>
            </div>
        </div>
    </div>
  </div>
  </Section>
</Layout>

<style lang="scss">

  .statue{
    height: 50vh;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }
  .numbers {
    display: flex;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width:991px) {
        flex-direction: column;
        align-items: center;

        .box{
          height: 250px !important;
            >div{
                height: 100% !important;
            }
        }
  
    }

    > :nth-child(1) {
      h4{
          color: rgb(76, 120, 10);
        }
      &:hover {
        > div {
          border-bottom: solid 5px greenyellow !important;
        }
      }
    }
    > :nth-child(2) {
      color:rgb(47, 64, 255)  ;
      &:hover {
        > div {
          border-bottom: solid 5px rgb(47, 64, 255) !important;
        }
      }
    }
    > :nth-child(3) {
      color:  rgb(227, 185, 33) ;
      &:hover {
        > div {
          border-bottom: solid 5px rgb(227, 185, 33) !important;
        }
      }
    }
    > :nth-child(4) {
      color: rgb(217, 82, 84);
      &:hover {
        > div {
          border-bottom: solid 5px rgb(217, 82, 84) !important;
        }
      }
    }

    
    .box {
      height: 400px;
      width: 250px;

      display: flex;
      justify-content: center;
      align-items: flex-end;

     

      .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        // transition: var(--transition);
        border-radius: 10px;
        height: 80%;
        width: 100%;
        background-color: rgb(247, 247, 247);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        h4{
          text-align: center;
          font-size: 35px;
          font-weight: bold;

        }

        p{
          font-weight: bold;
        }
      }
      img {
        max-width: 80px;
        
        
        transition: var(--transition);
      }
    }

    .top {
      align-items: flex-start !important;
    }
  }

  .belives{
    ul, p{
        width: 70%;
        margin: 0 auto;

        @media screen and (max-width:991px) {
          width: 90%;
        }
    }

    ul{
        // padding-left: 1.5rem;
        list-style: none;
        // list-style:symbols(right-arrow) !important;

        li{
            padding-bottom: 1rem;
            text-align: justify;
            display: flex;
            gap: 20px;

            span{
              color: var(--brown);
            }
        }
    }
  }

  .members{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    
    place-items: center;
    row-gap: 5rem;
    padding: 3rem 0;

  

    @media screen and (max-width:991px) {
        grid-template-columns: repeat(2 , 1fr) !important;
  
    }

    @media screen and (max-width:500px) {
        grid-template-columns: repeat(1 , 1fr) !important;

        .member-card{
       
        align-items: center;
        
        .images{
            width: 180px !important; 
            height: 180px !important;
            border-radius: 180px !important;
           

            img{
               
                border-radius: 180px !important;
              
            }
        }
    }
  
    }

    .member-card{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .images{
            width: 300px;
            height: 300px;
            border-radius: 300px;
            overflow: hidden;
            border: dashed 2px var(--brown);
            padding: 10px;

            img{
                object-fit: cover !important;
                width: 100%;
                border-radius: 300px;
                height: 100%;
            }
        }
    }
  }
</style>
