---
import OtherClass from "../components/OtherClass.astro";
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import Art from "../components/svgs/Art.astro"
---

<Layout title="Extra-curricular-activities" >
  <PageBanner title="Extra-curricular-activities" />
  <img src="/images/extra-banner.jpg" alt="DAV public school Bangalore - grade6-8" class="class-image"  />
  <Section>
    <div class="container">
      <SectionTitle
        title="Extra-curricular-activities"
        subtitle="Elevate the learning experience with our diverse array of extracurricular activities. From sports and arts to clubs and community service, students discover passions, build skills, and forge lasting connections. Our school's commitment to holistic development ensures a vibrant tapestry of opportunities, enriching each student's journey beyond the classroom."
        substyle=""
      />

      <div class="activities pt-5">
        <div>
          <img src="/images/png/taekwondo.png" alt="Dav Public School - Taekwondo">
           <a href="/images/extra/taekwondo.jpg" data-fancybox="gallery">
            <img src="/images/extra/taekwondo.jpg" alt="" class="click-img">
          
            <p>Taekwondo</p>
           </a>
         
          </div>
        
          <div>
            <img src="/images/png/seminar.png" alt="Dav Public School - Seminar">
           <a href="/images/extra/seminar.jpg"  data-fancybox="gallery" >
          <img src="/images/extra/seminar.jpg" alt=""   class="click-img" >
            <p>Seminar</p>
           </a>
         
          </div>
        
          <div>
            <img src="/images/png/Yoga.png" alt="Dav Public School - Yoga">
          <a href="/images/extra/yoga.jpg" data-fancybox="gallery" >
           <img src="/images/extra/yoga.jpg" alt=""  class="click-img" >
            <p>Yoga</p>
          </a>
          </div>
        
          <div>
            <img src="/images/png/Special-Assembly.png" alt="Dav Public School - Special Assembly">
         <a href="/images/extra/special-assembly.jpg" data-fancybox="gallery" >
          <img src="/images/extra/special-assembly.jpg" alt=""  class="click-img" >
          <p>Special Assembly</p>
         </a>
          </div>
        
          <div>
            <img src="/images/png/Youth-parliament.png" alt="Dav Public School - Youth Parliament">
           <a href="/images/extra/youth.jpg" data-fancybox="gallery" >
            <img src="/images/extra/youth.jpg" alt=""  class="click-img" >
            <p>Youth Parliament</p>
           </a>
          </div>
        
          <div>
            <img src="/images/png/Art.png" alt="Dav Public School - Art">
           <a href="/images/extra/art.jpg" data-fancybox="gallery" >
           <img src="/images/extra/art.jpg" alt=""  class="click-img" >
            <p>Art</p>
           </a>
          </div>
        
          <div>
            <img src="/images/png/Co-Curricular-activities.png"  alt="Dav Public School - Co-Curricular Activities" >
          <a href="/images/extra/3.jpg" data-fancybox="gallery" > 
           <img src="/images/extra/3.jpg" alt=""  class="click-img" >
            <p>Co-Curricular Activities</p>
          </a>
          </div>
        
          <div>
            <img src="/images/png/debate.png" alt="Dav Public School - Debate">
           <a href="/images/extra/speaker.jpg" data-fancybox="gallery" >
        <img src="/images/extra/speaker.jpg" alt=""  class="click-img" >
            <p>Debate</p>
           </a>
          </div>
        
          <div>
            <img src="/images/png/Educational-field-trip.png" alt="Dav Public School - Educational Field Trip">
            <a href="/images/extra/trip.jpg" data-fancybox="gallery" >
              <img src="/images/extra/trip.jpg" alt=""  class="click-img" >
            <p>Educational Field Trip</p>
            </a>
          </div>
        
          <div>
            <img src="/images/png/excursion.png" alt="Dav Public School - Excursion">
           <a href="/images/extra/excursion.jpg" data-fancybox="gallery" >
            <img src="/images/extra/excursion.jpg" alt=""  class="click-img" >
            
            <p>Excursion</p>
           </a>
          </div>
        
          <div>
            <img src="/images/png/exhibition.png" alt="Dav Public School - Exhibition">
          <a href="/images/extra/exhibition.jpg" data-fancybox="gallery" >
          <img src="/images/extra/exhibition.jpg" alt=""  class="click-img" >
            <p>Exhibition</p>
          </a>
          </div>
        
          <div>
            <img src="/images/png/festival-Celebration.png" alt="Dav Public School - Festival Celebration">
           <a href="/images/extra/deepavali.jpg" data-fancybox="gallery" >
           <img src="/images/extra/deepavali.jpg" alt=""  class="click-img" >
            <p>Festival Celebration</p>
           </a>
          </div>
        
          
        
          <div>
            <img src="/images/png/inter-School-Competitions.png" alt="Dav Public School - Inter-School Competitions">
           <a href="/images/extra/inter.jpg" data-fancybox="gallery" >
        <img src="/images/extra/inter.jpg" alt=""  class="click-img" >
            <p>Inter-School Competitions</p>
           </a>
          </div>
        
          <div>
            <img src="/images/png/Motivational-speaker.png" alt="Dav Public School - Motivational Speaker">
           <a href="/images/extra/m-speaker.jpg" data-fancybox="gallery" >
<img src="/images/extra/m-speaker.jpg" alt=""  class="click-img" >
            <p>Motivational Speaker</p>
           </a>
          </div>
        
          <div>
            <img src="/images/png/music.png" alt="Dav Public School - Music">
           <a href="/images/extra/music.jpg" data-fancybox="gallery" >
            <img src="/images/extra/music.jpg" alt=""   class="click-img" >
            <p>Music</p>
           </a>
          </div>
        
          <div>
            <img src="/images/png/personality-development.png" alt="Dav Public School - Personality Development">
           <a href="/images/extra/person.jpg"  data-fancybox="gallery" >
         <img src="/images/extra/person.jpg" alt="" class="click-img">
            <p>Personality Development</p>
           </a>
          </div>
       
      </div>
    
    </div>
  </Section>

  <OtherClass />
</Layout>

<style lang="scss">
 

  .activities{
       display: grid;
       grid-template-columns: repeat(4 , 200px);
       place-content: center !important;
       
       row-gap: 2rem;
       column-gap: 3rem;

       @media screen and (max-width:991px) {
        grid-template-columns: repeat(3 , 200px);
       }

       @media screen and (max-width:500px) {
        grid-template-columns: repeat(1 , 300px);
        .cards{
            height: auto !important;
            
        }
       }

        >div{
        background-color: rgb(234, 235, 235);
        width: 100%;
        height: 230px;
        
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 2rem;
        text-align: center ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        gap: 0.7rem;

        img{
            max-width: 70px;
        }
        
       }
    }

    .click-img{
      display: none;
    }

</style>
