---
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";




const gallerys = [
{ "images": "/images/camp (1).jpg" },
  { "images": "/images/camp (2).jpg" },
  { "images": "/images/camp (3).jpg" },
  { "images": "/images/camp (4).jpg" },
  { "images": "/images/camp (5).jpg" },
  { "images": "/images/camp (6).jpg" },
  { "images": "/images/gallery (1).jpg" },
  { "images": "/images/gallery (2).jpg" },
  { "images": "/images/gallery (3).jpg" },
  { "images": "/images/gallery (4).jpg" },
  { "images": "/images/gallery (5).jpg" },
  { "images": "/images/gallery (6).jpg" },
  { "images": "/images/gallery (7).jpg" },
  { "images": "/images/gallery (8).jpg" },
  { "images": "/images/gallery (9).jpg" },
  { "images": "/images/gallery (10).jpg" },
  { "images": "/images/gallery (11).jpg" },
  { "images": "/images/gallery (12).jpg" },
  { "images": "/images/gallery (13).jpg" },
  { "images": "/images/gallery (14).jpg" },
  { "images": "/images/gallery (15).jpg" },
  { "images": "/images/gallery (16).jpg" },
  { "images": "/images/gallery (17).jpg" },
  { "images": "/images/gallery (18).jpg" },
  { "images": "/images/gallery (19).jpg" },
  { "images": "/images/gallery (20).jpg" },
  { "images": "/images/gallery (21).jpg" },
  { "images": "/images/gallery (22).jpg" },
  { "images": "/images/gallery (23).jpg" },
  { "images": "/images/gallery (24).jpg" },
  { "images": "/images/gallery (25).jpg" },
  { "images": "/images/gallery (26).jpg" },
  { "images": "/images/gallery (27).jpg" },
  { "images": "/images/gallery (28).jpg" },
  { "images": "/images/gallery (29).jpg" },
  { "images": "/images/gallery (30).jpg" },
  { "images": "/images/gallery (31).jpg" },
  { "images": "/images/gallery (32).jpg" },
  { "images": "/images/gallery (33).jpg" },
  { "images": "/images/gallery (34).jpg" },
  { "images": "/images/gallery (35).jpg" },
  { "images": "/images/gallery (36).jpg" },
  { "images": "/images/gallery (37).jpg" },
  { "images": "/images/gallery (38).jpg" },
  { "images": "/images/gallery (39).jpg" },
  { "images": "/images/gallery (40).jpg" },
  { "images": "/images/gallery (41).jpg" },
  { "images": "/images/gallery (42).jpg" },
  { "images": "/images/gallery (43).jpg" },
  { "images": "/images/gallery (44).jpg" },
  { "images": "/images/gallery (45).jpg" },
  { "images": "/images/gallery (46).jpg" },
  { "images": "/images/gallery (47).jpg" },
  { "images": "/images/gallery (48).jpg" },
  { "images": "/images/gallery (49).jpg" },
  { "images": "/images/gallery (50).jpg" },
  { "images": "/images/gallery (51).jpg" },
  { "images": "/images/gallery (52).jpg" },
  { "images": "/images/gallery (53).jpg" },
  { "images": "/images/gallery (54).jpg" },
  { "images": "/images/gallery (55).jpg" },
  { "images": "/images/gallery (56).jpg" },
  { "images": "/images/gallery (57).jpg" },
  { "images": "/images/gallery (58).jpg" },
  { "images": "/images/gallery (59).jpg" },
  { "images": "/images/gallery (60).jpg" },
  { "images": "/images/gallery (61).jpg" },
  { "images": "/images/gallery (62).jpg" },
  { "images": "/images/gallery (63).jpg" },
  { "images": "/images/gallery (64).jpg" },
  { "images": "/images/gallery (65).jpg" },
  { "images": "/images/gallery (66).jpg" },
 
];

console.log(gallerys);





const mentorsArray = [];
let i,
  j,
  temparray,
  chunk =  3 
for (i = 0, j = gallerys.length; i < j; i += chunk) {
  temparray = gallerys.slice(i, i + chunk);
  mentorsArray.push(temparray);
}

  

---
<Layout title="Gallery" >
    <PageBanner title="Gallery"/>
    <Section>

      <div class="container">
        <SectionTitle title="Our Gallery"/>  
            
      <div class="gallery-slider">

      {
        gallerys.map((items)=> {
          return (
          <div class="gallery-slide">
        
        <a href={items.images} data-fancybox="gallery">
          <img src={items.images} alt="Dav public school bangalore - Gallery" />
        </a>
        
      </div>
          )
        })
      }
       
        
        
       
      
        
      </div>

      <div class="gallery-controls">
        <div class="g-button prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
     
            
        </div>
        <div class="g-button next">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
          </svg>
     
            
        </div>
      </div>
      </div>

    </Section>
</Layout>






<style lang="scss">
  .gallery-slide{
    
    img{
      width: 100%;
      height: 330px;
      object-fit: cover;
    }
  }

  .gallery-controls{
        display: flex;
        padding: 1rem;
        justify-content: center;
        gap: 1rem;
        
        .g-button{
            border: solid 1px black;
            padding: 0.2rem 0.6rem;
            cursor: pointer;
        }
    }
</style>