---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Course from "../components/Course.astro";
import Whyus from "../components/Whyus.astro";
import Events from "../components/Events.astro";
import Testimonial from "../components/Testimonial.astro";
import BookingSection from "../components/BookingSection.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Contact from "./contact.astro";
---

<Layout title="DAV PUBLIC SCHOOL BANGALORE">
  <Hero />
  <Course />
  <Whyus />
  <Events />
  <Testimonial />

  <Section style="padding-bottom:7rem;">
    <SectionTitle
      title="Our Newsletters"
      subtitle="Stay Informed, Stay Inspired: Your Weekly Dose of Knowledge and Inspiration!"
      classes="text-center"
      substyle="margin:0 auto;"
    />

    <div class="container">
      <div class=" news pt-4">
        <p class="new">
          <a
            href="/images/letter-2/pdf"
            download="Newsletter-oct-one"
            class="normal">Download Newsletter-October-23-24(2)</a
          >
        </p>
        <p class="new">
          <a
            href="/images/October-23.pdf"
            download="Newsletter-oct-one"
            class="normal">Download Newsletter-October-23-24</a
          >
        </p>
        <p class="new">
          <a
            href="/images/newsletter-oct-23-24-2.pdf"
            download="Newsletter-oct-second"
            class="normal">Download Newsletter-May-Oct-22</a
          >
        </p>
        <p class="new">
          <a
            href="/images/newsletter-april-22-23.pdf"
            download="Newsletter-April-22-23"
            class="normal">Download Newsletter-Oct-April-22-23</a
          >
        </p>
      </div>
    </div>
  </Section>
  <!-- <BookingSection/> -->


  <div class="pop-up">
    <div class="popup-container">
      <div class="text-end">
        <img src="/images/cross.png" alt="" style="max-width: 20px;" class="cross">
      </div>
      <img src="/images/popup.jpg" alt="" class="popimg">
    </div>
  </div>
</Layout>

<style lang="scss">

  .pop-up{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.686);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-container{
      width: 50%;
      height: 80%;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    @media screen and (max-width:600px) {
        width: 90%;
      }
    >:nth-child(1){
      
      width: 80%;
      cursor: pointer;

      @media screen and (max-width:600px) {
        width: 100%;
      }
    }
    
    }

    .popimg{
      width: 80%;
      margin: 0 auto;
      height: 100%; 

      @media screen and (max-width:600px) {
        width: 100%;
      }
   
    }


  }

  .news {
    // gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3 , 1fr );
    row-gap: 3rem;

    @media screen and (max-width:991px) {
      grid-template-columns: repeat(1 , 1fr );
      justify-content: center;
      place-content: center;
      place-items: center;
    }
    .new{
      width: 100%;
    }
   
  }

  .f-carousel__slide.is-nav-selected {
    color: #fff;
    background: #ff3520;
  }

  #myNavigation {
    --f-carousel-slide-width: 100px;
    --f-carousel-spacing: 5px;
    //    background-color:red;
    width: 300px;
  }
  .f-carousel {
    --f-button-display: none !important;
    --f-button-width: 38px;
    --f-button-height: 38px;

    --f-button-svg-width: 0px;
    --f-button-svg-height: 16px;
    --f-button-svg-stroke-width: 2.5;

    --f-button-color: rgb(71 85 105);
    --f-button-border-radius: 50%;
    --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
      0 3px 7px -3px rgb(0 0 0 / 30%);

    --f-button-bg: #fff;
    --f-button-hover-bg: #f9f9f9;
    --f-button-active-bg: #f0f0f0;
  }
</style>

<script>
  const pop = document.querySelector(".pop-up")
const cross = document.querySelector(".cross")


pop.addEventListener("click", ()=> {
  pop.style.display = "none"
})
cross.addEventListener("click", ()=> {
  pop.style.display = "none"
})
</script>
