---
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
import Eventcard from "./Eventcard.astro";
---

<Section>
  <div class="container">
    <div class="events">



      <div class="row gy-5 justify-content-between">
        <div class="col-lg-5">
            <SectionTitle
            title="Events"
            subtitle="Upcoming Education Events to feed your brain."
          /> 
        </div>
        <div class="col-lg-3  text-end">
            <Button  title="View more" variant="light" link="/events" />
        </div>
      </div>

      

      <div class="d-flex flex-column gap-5 pt-5">
       

      <Eventcard date="20" month="December" name=" Gita Chanting Grade 1 - 5" time="10:00 AM" image="/images/amenities/VR-243.jpg "
      link="/events/gita1-5"/>

     <Eventcard date="21" month="December" name=" Gita Chanting Grade 6 - 10" time="10:00 AM" image="/images/amenities/VR-243.jpg " 
     link="/events/gita6-10"/>

     <Eventcard date="23" month="December" name="Annual Day Celebration" time="10:00 AM" image="/images/amenities/001.jpg "
     link="/events/annualday-23"/>
      </div>



    </div>
  </div>
</Section>

<style lang="scss">
.events{
.row{
    @media  screen and (max-width: 991px) {
        >:nth-child(2){
            text-align: left !important;
          
        }
    }
}
}
</style>
