---   
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
import HighlightsBanner from "./HighlightsBanner.astro";
---

<div class="hero">
  <div class="hero-slider">
    <div class="hero-slide">
      <img src="/images/school.jpg" alt="" />
      <div class="container">
        <div class="content">
          <div class="banner-title">
           
            
"<span>Unlock Your Future</span> <br> Admission Open for a World of Opportunities!"
          </div>
          <Button title="Book a School Tour" link="/school-tour" variant="normal" />
        </div>
      </div>
    </div>
    <div class="hero-slide">
      <img src="/images/school.jpg" alt="" />
      <div class="container">
        <div class="content">
          <div class="banner-title">"<span>Explore, Enrich, Excel</span>  <br> Navigating Futures through Our Dynamic Courses!"</div>
          <Button title="Learn more" link="#course" variant="normal" />
        </div>
      </div>
    </div>
    <div class="hero-slide">
      <img src="/images/school.jpg" alt="" />
      <div class="container">
        <div class="content">
          <div class="banner-title"> " <span>Unlocking Potential, Igniting Minds</span> <br> Admission open for 2024 - 2025</div>
          <Button title="Resgister now" link="/Contact us" variant="normal" />
        </div>
      </div>
    </div>


    <!-- <div class="hero-slide">
      <img src="/images/school.jpg" alt="" />
      <div class="container">
        <div class="content">
          <div class="banner-title">Admission</div>
          <Button title="Learn more" link="/" variant="normal" />
        </div>
      </div>
    </div>
    <div class="hero-slide">
      <img src="/images/school.jpg" alt="" />
      <div class="container">
        <div class="content">
          <div>
            <SectionTitle title="Events" />
          </div>
          <Button title="Learn more" link="/" variant="normal" />
        </div>
      </div>
    </div>
    <div class="hero-slide">
      <img src="/images/school.jpg" alt="" />
      <div class="container">
        <div class="content">
          <div>
            <SectionTitle title="Events" />
          </div>
          <Button title="Learn more" link="/" variant="normal" />
        </div>
      </div>
    </div>
    <div class="hero-slide">
      <img src="/images/school.jpg" alt="" />
      <div class="container">
        <div class="content">
          <div>
            <SectionTitle title="Events" />
          </div>
          <Button title="Learn more" link="/" variant="normal" />
        </div>
      </div>
    </div> -->



  </div>

  <HighlightsBanner />
</div>

<style lang="scss">
  .banner-title {
    font-size: clamp(35px, 4vw, 40px);
    line-height: 1.2;
    font-weight: 500;

    span{
      color: var(--brown);
    }
  }
  .hero {
    height: 100vh;
    position: relative;

    @media screen and (max-width: 991px) {
      height: auto;
    }

    .hero-slider {
      width: 100%;
      height: 100%;
    }
    .hero-slide {
      width: 100%;
      height: 100%;
      position: relative;

      height: 100%;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        top: 0;
        left: 0;
        filter: brightness(50%);
      }

      .content {
        height: 100vh;

        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: white;

        align-items: flex-start;
        justify-content: center;
      }
    }
  }
</style>
