---
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import TestimonialCard from "./TestimonialCard.astro";
import { tns } from "tiny-slider/src/tiny-slider";
import { Carousel } from "@fancyapps/ui";
import { Thumbs } from "@fancyapps/ui/dist/carousel/carousel.thumbs.esm.js";
import "@fancyapps/ui/dist/carousel/carousel.thumbs.css";
import { Autoplay } from "@fancyapps/ui/dist/carousel/carousel.autoplay.esm.js";
import "@fancyapps/ui/dist/carousel/carousel.autoplay.css";
import "@fancyapps/ui/dist/carousel/carousel.css";
---

<Section>
  <div class="container">
    <SectionTitle title="What People Say" classes="text-center" subtitle="" />

 

    <div class="test-slider" id="">
      <div class="slide">
        <TestimonialCard
          name=" Sai Subramanya"
          role="Alumni"
          message="“We were not only trained to be good in our academics but also excel in any field My school has played a very important role in my Life”."
          image="/images/man.png"
        />
      </div>
      <div class="slide">
        <TestimonialCard
          name="Ayushi Jha"
          role="Alumni"
          message="“The school or I would love to call it my family. DAV Family has built up a lot of characters in me and every child who needs to learn in his / her life. It has helped me to find out my talents and I realized that I am good in Dancing, improved my personality.”"
          image="/images/Women.png"
        />
      </div>
      <div class="slide">
        <TestimonialCard
          name="U Shreya Bhargava"
          role="Alumni"
          message="“My Teachers made my learning experience very interesting and valuable. They were very encouraging and boosted my confidence every now and then”."
          image="/images/man.png"
        />
      </div>
      <div class="slide">
        <TestimonialCard
          name="Sonu I K"
          role="Alumni"
          message="“We have been taught Values and Culture here…, The Co-Curricular activities like dance, singing and elocution competition bring out hidden talent in students."
          image="/images/Women.png"
        />
      </div>
      <div class="slide">
        <TestimonialCard
          name="Mr. Raguraman Kadambi"
          role="Parent of Neha, Grade IX"
          message="“The method of teaching is lucid! Encouraging a child to participate in school  events is one of the key aspects of childs development and we see that in abundance in DAV."
          image="/images/man.png"
        />
      </div>
      <div class="slide">
        <TestimonialCard
          name="Gitanjali Biswal & Manoj Kumar Biswal"
          role="Parents of Umika Grade II and Adya Grade VIII"
          message="“The School has excellent staff and they are so much supportive, apart from academics, teachers show keen interest on overall development of students”"
          image="/images/Women.png"
        />
      </div>
    
    </div>

    <div class="testi-controls" >
      <div class="control-button prev">
         
  
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
      </div>
      <div class="control-button next">
      
  
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
      </div>
     </div>



  </div>
</Section>

<style lang="scss">
 .testi-controls{
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-top: 2rem;
        
        .control-button{
            border: solid 1px rgb(202, 200, 200);
            padding: 0.2rem 0.6rem;
            cursor: pointer;
            transition: var(--transition);
            svg{
               stroke-width: 3px;
               height: 20px;
               width: 20px;
              
              }

            &:hover{
              border: solid 1px var(--brown);
              svg{
                fill:var(--brown);
              }
            }
        }
    }
</style>


